以下是一个普通的数字的变量的展示
a is {{ a }}, b is {{ b }} ,and a+b = {{ a + b }}

以下是一个字符串的相关展示
Jinja2 says: {{ words }}

以下是一个list的展示
list x is {{ x_list }}

以下是一个dict的展示
dict y is {{ y_dict }}
我们还可以取dict的值
dict y_dict get key name is： {{ y_dict['name'] }}
dict y_dict get key name is： {{ y_dict.name }}