{# 这是多个端口的配置模板，修改端口描述 #}
{% for interface in interfaces %}
interface {{ interface.name }}
    description {{ interface.description }}
{% if interface.shutdown  %}
    shutdown
{% else %}
    no shutdown
{% endif %}
{% endfor %}